html {
    font-size: 17px;
}

body {
    color: black;
    background: white;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.7;
}

.container {
    max-width: 50rem;
    padding: 2em;
    margin: auto;
}

.container header h1 {
    font-size: 1.8rem;
}

.container h2 {
    font-size: 1.3rem;
    padding-top: 1.5rem;
}

.container h3 {
    font-size: 1.1rem;
    padding-top: 1rem;
}

.container span {
    color: gray;
}

.container a {
    text-decoration: none;
}
.container a:hover {
    border-bottom: 1px solid black;
}

.container ul li:not(:last-child) {
    margin-bottom: 0.3rem;
}

footer.footer {
    /* font-size: 0.8rem; */
    padding-top: 4rem;
}

/* footer.footer a  {
    border-bottom: none;
} */