html {
    font-size: 17px;
}

body {
    color: black;
    background: white;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

.flexbox {
    display: flex;
}

.t__sections {
    /*margin-left: 30px;*/
}

.t__content {

}

.t__data {
    display: flex;

}

.t__info {
    margin-left: 30px;
    margin-bottom: 30px;
}

.t__data h3 {
    margin-top: 0;
}

.t__title {

}

.t__subtitle {
    color: #57606a;
}

.t__date {
    flex: 0 0 180px;
    color: #57606a;
    text-align: right;
    margin-right: 30px;
    margin-top: 2px;
}

.t__bullet {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #d8dee4;
    border-radius: 50%;
    margin-top: 6px;
}

.t__line {
    display: block;
    width: 2px;
    height: 100%;
    background-color: #d8dee4;
    transform: translate(6px, -6px);
}



.container header {
    display: flex;
}

.photo {
    width: 300px;
    height: 300px;
    margin-right: 60px;
    margin-top: 50px;
}

header a {
    text-decoration: none;
}

.display_flex {
    display: flex;
}

.btn {
    text-decoration: none;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 6px 10px 6px 0px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.btn-primary {
    border-radius: 8px;
    border: 1px solid #0e6efd;
    color: #0e6efd;
}
.btn-primary:hover {
    background-color: #0e6efd;
    color: white;
}

.btn-secondary {
    border-radius: 8px;
    background-color: white; 
    color: #57606a; 
    border: 1px solid #57606a;
}
.btn-secondary:hover {
    background-color: #57606a;
    color: white;
}

.container {
    max-width: 50rem;
    padding: 2em;
    margin: auto;
}

.container header h1 {
    font-size: 1.8rem;
}

.container h2 {
    font-size: 1.3rem;
}

.padding-top {
    padding-top: 1.5rem;
}

.container h3 {
    font-size: 1.1rem;
    /*padding-top: 1rem;*/
}

.container a {
    text-decoration: none;
}

.container ul li:not(:last-child) {
    margin-bottom: 0.3rem;
}

footer.footer {
    /* font-size: 0.8rem; */
    padding-top: 4rem;
}

table.showcase {
    width: 100%;
    border-collapse: collapse;
}

table.showcase tr.logo td {
    padding-top: 1em;
    text-align: center;
}

table.showcase tr.description td {
    font-weight: normal;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

table.showcase tr.description td p {
    margin-left: 0;
    line-height: 1.4;
}

table.showcase td.col {
    width: 25%;
}

table.showcase td.half {
    width: 50%;
}

table.showcase td {
    padding: 0 15px;
    width: 25%;
    font-weight: lighter;
    color: #57606a;
    vertical-align: top;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-50 {
    margin-left: 50px;
}

.post-date {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #57606a;
}

footer {
    font-size: 14px;
    color: #57606a;
}