html {
    font-size: 17px;
}

body {
    color: black;
    background: white;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

.container {
    max-width: 50rem;
    padding: 2em;
    margin: auto;
}

.container header h1 {
    font-size: 1.8rem;
}

.container h2 {
    font-size: 1.3rem;
    padding-top: 1.5rem;
}

.container h3 {
    font-size: 1.1rem;
    padding-top: 1rem;
}

.container section p {
    margin-left: 30px;
}

.container section h3 {
    margin-left: 30px;
}

.container a {
    text-decoration: none;
}
.container a:hover {
    border-bottom: 1px solid black;
}

.container ul li:not(:last-child) {
    margin-bottom: 0.3rem;
}

footer.footer {
    /* font-size: 0.8rem; */
    padding-top: 4rem;
}

table.showcase {
    width: 100%;
    border-collapse: collapse;
}

table.showcase tr.logo td {
    padding-top: 1em;
    text-align: center;
}

table.showcase tr.description td {
    font-weight: normal;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

table.showcase tr.description td p {
    margin-left: 0;
    line-height: 0.5;
}

table.showcase td.onethird {
    width: 33.3%;
}

table.showcase td.half {
    width: 50%;
}

table.showcase td {
    width: 33.3%;
    font-weight: lighter;
    color: #666666;
    vertical-align: top;
}

img.ios {
    /*box-sizing: border-box;*/
    border-radius: 20px;
}

table.showcase tr.logo a {
    text-decoration: none;
    border-bottom: none;
}

table.showcase tr.logo a:hover {
    text-decoration: none;
    border-bottom: none;
}

.post-date {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color:#9a9a9a
}

/* footer.footer a  {
    border-bottom: none;
} */